@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
     height: 8px !important;
     width: 4px;
 }
 
 .custom-scrollbar::-webkit-scrollbar-thumb {
     background-color: #ffffff3b;
     transition: width 0.8s ease, background-color 0.2s ease;
     cursor: pointer;
     
 }
 
 .custom-scrollbar::-webkit-scrollbar-thumb:hover {
     width: 8px;
     background-color: #ffffff8b; /* Brighter to give a 'focused' look */
 }
 

/* Hides the scrollbar while allowing mouse/trackpad scrolling */
.custom-scrollbar-hidden::-webkit-scrollbar {
     display: none; /* Hides scrollbar in Chrome, Safari, and Opera */
 }
 
 .custom-scrollbar-hidden {
     -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
     scrollbar-width: none; /* Hides scrollbar in Firefox */
 }

 
 
 
/**Not working */
/* emojiPickerStyles.css *//* Global Scrollbar Styling for Emoji Picker */
.emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar {
    width: 200px;
}

.emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 4px;
    border: 2px solid #1e1e1e;
}

.emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
